@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "fluidtypo";


$family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;

// Set your brand colors
$blue: #007ee3;
$grey: #768591;
$light: #edeef1;

// Update Bulma's global variables
$grey-dark: $grey;
$grey-light: $light;
$primary: $blue;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 20px;

@import "../node_modules/bulma/bulma";
@import "pageloader";

html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
  }

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: $light;
	font-family: $family-sans-serif;
	font-weight: 300;
	color: rgba(0,0,0,0.87);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

#upscale{
	display: block;
}

.is-centered-2 {
	display: flex;
	flex-direction: column;
}

.header-nav {
	width: 100%;
	background: $primary;
}

.card {
	margin-bottom: $column-gap;

	@media (min-width: $tablet) {
		margin-bottom: none;
	}
}

.capitalize {text-transform: capitalize; }

.grid {
	display: block;
	
	@media (min-width: $tablet) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: $column-gap;
	}
}

.noise-viz{
	width: 128px;
	height: 64px;
	display: grid;
	grid-template-columns: repeat(32, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

.noise-item{
	width: 4px;
	height: 4px;
	background: grey;
}

.product{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.product > figure{
	position: absolute;
	filter: drop-shadow(8px 8px 10px gray);
}

.bg{
	min-height: 35vh;
	height: 50%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(1.5em) opacity(75%);
}

.share {
	padding: 1em;
}

.loader {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}